[submodule "vendor/mbedtls"]
	path = vendor/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "vendor/websocket-parser"]
	path = vendor/websocket-parser
	url = git@github.com:php-ion/websocket-parser.git
